html{
    font-family: 'Noto Sans JP', sans-serif;
}

header{
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    height:80px;
    width:100%;
    background: #00d240;
    text-align: center;
    list-style: none;
}

section{
    margin-top:100px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:0px;
    min-height:calc(100vh - 50px); 
}

.main{

}

footer{
    height:100px;
    width: 100%;
    background: #00d240;
    text-align: center;
    list-style: none;
}

.flowA{/* ふわっと浮き上がる */
    opacity: 0;
    animation:flowAK 1.5s forwards;
}


.flex{
    display:flex;
    flex-direction: row;
}

.title{
    font-size: 250%;
}

ul{
    list-style-type: none;
}

.hlist{
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}

.linkmenu{
    padding: 0 8%;
}
.link{
    padding: 0 20px;
    font-size: 150%;
}


.tabline{
    margin: auto;
    align: center;
    border:2px solid #00d200

}
.tabline th{
    background-color: #00C257;
    border:2px solid #00C257;
}
.tabline td{
    border:2px solid #00C257;
}


a{
    transition: color 0.35s ease 0s;
    color: #000040;
    text-decoration: none;
}
a:hover{
    transition: color 0.25s ease 0s;
    color: #00FF00;
    text-decoration: inherit;
}

.hlistitem{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}