header{
    text-align: center;
    list-style: none;
}

footer{
    text-align: center;
}

.title{
    font-size: 250%;
}

ul{
    list-style-type: none;
}

.hlist{
    list-style: none;
    display: inline-block;
}