html{
    font-family: 'Noto Sans JP', sans-serif;
}

header{
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    height:80px;
    width:100%;
    background: #00d240;
    text-align: center;
    list-style: none;
}

body{
    user-select:none;
    -webkit-user-drag: none;
    background-color: #A0FFA0;
}
body img{
    -webkit-user-drag: none;
}

section{
    background-color: #FFFFFF;
    padding: 1% 5%;
    margin-top:100px;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:0px;
    min-height:calc(88.4vh - 100px); 
}

.main{

}

footer{
    height:100px;
    width: 100%;
    background: #00d240;
    text-align: center;
    list-style: none;
}

.flowA{/* ふわっと浮き上がる */
    opacity: 0;
    animation:flowAK 1.5s forwards;
}

hr{/* 線 */
    opacity: 0;
    animation:expand 1.5s forwards;
}

hr .left{
    text-align: left;
    opacity:0;
    transform-origin: left;
    animation:expandL 1.5s forwards;
}

details{
    height:25px;
    margin-bottom: 5%;
    transition:all .5s;
}
details[open]{
    height:auto;
    background-color: #00A0A0;
    transition:all .5s;
}

.flexD{
    margin:3%;
    display:flex;
    justify-content: center; 
    font-size:125%;
}

.fix{
    margin:0 5%;
}

.fix a{
    transition: color 0.35s ease 0s;
    color: #0000A0;
    text-decoration: none;
}
.fix a:hover{
    transition: color 0.25s ease 0s;
    color: #FFFFFF;
    text-decoration: inherit;
}


.flex{
    display:flex;
    flex-direction: row;
}

.title{
    font-size: 250%;
}

ul{
    list-style-type: none;
}

.hlistHd{
    display: flex;
    text-align: center;
    padding: 10px 0px;
    margin: 0 auto;
}

.hlistFt{
    text-align: center;
    padding: 10px 0;
    margin: 0 0 auto 0;
}

.linkmenu{
    padding: 0 8%;
}
.link{
    padding: 0 20px;
    font-size: 150%;
}


.tabline{
    margin: auto;
    align: center;
    border:2px solid #00d200

}
.tabline th{
    background-color: #00C257;
    border:2px solid #00C257;
}
.tabline td{
    border:2px solid #00C257;
}


a{
    transition: color 0.35s ease 0s;
    color: #000040;
    text-decoration: none;
}
a:hover{
    transition: color 0.25s ease 0s;
    color: #00CC00;
    text-decoration: inherit;
}

.hlistitem{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
}

.hlistHd li{
    float:left;
    width:120px;
    height:90px;
    list-style: none;
    margin: -10px 10px;
}

.hlistHd a{
    font-size:150%;
    display:block;
    width:120px;
    height:80px;
    background: #00F000;
    transition:all 0.5s 0s ease;
}

.hlistHd a:hover{
    width:120px;
    height:120px;

    background: #A0FFA0;
    transition:all 0.5s 0s ease;
}

.twitback{
    background:#00FFFF;
    animation:colorexpand 0.75s forwards;
}

.discback{
    background:#5865f2;
    animation:colorexpand 0.75s forwards;
}

.ghback{
    background:#9900dd;
    animation:colorexpand 0.75s forwards;
}

.twitlink{
    margin:0 auto;
    transition:all 0.3s 0s ease;
    margin-bottom:2%;
}

.twitlink a{
    border:2px solid #00C257;
    display:block;
    top:0;
    left:0;
    width:auto;
    height:auto;
    min-height: 72px;
    max-width: 760px;
    transition:all 0.3s 0s ease;
}

.twitlink a:hover{
    color: #00A0A0;
    background-color: #90F0F0;
    border:2px solid #00F2F2;
    transition:all 0.3s 0s ease;
}

.disclink{
    margin:0 auto;
    transition:all 0.3s 0s ease;
    margin-bottom:2%;
}

.disclink a{
    border:2px solid #00C257;
    display:block;
    top:0;
    left:0;
    width:auto;
    height:auto;
    min-height: 72px;
    max-width: 760px;
    transition:all 0.3s 0s ease;
}

.disclink a:hover{
    color: #440088;
    background-color: #8e6bff;
    border:2px solid #6600BB;
    transition:all 0.3s 0s ease;
}

.ghlink{
    margin:0 auto;
    transition:all 0.3s 0s ease;
    margin-bottom:2%;
}

.ghlink a{
    border:2px solid #00C257;
    display:block;
    top:0;
    left:0;
    width:auto;
    height:auto;
    min-height: 72px;
    max-width: 760px;
    transition:all 0.3s 0s ease;
}

.ghlink a:hover{
    color: #67016a;
    background-color: #ed50ff;
    border:2px solid #b800bb;
    transition:all 0.3s 0s ease;
}