header{
    background: #00d240;
    text-align: center;
    list-style: none;
}

footer{
    text-align: center;
}

.title{
    font-size: 250%;
}

ul{
    list-style-type: none;
}

.hlist{
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}

.hlistitem{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}